@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<div class="container" id="testContainer">
    <!--STORAGE-->
    <span id="current-selected-artist" class="storage"></span>
    <span id="current-selected-album" class="storage"></span>
    <span id="current-selected-song" class="storage"></span>

    <div class="row" id="">
        <div class="col-xs-4 side-wrapper">
            SETTINGS
        </div>
        <div class="col-xs-8 main-wrapper">
            <div class="col-xs-3">

            </div>
            <div class="col-xs-9">

            </div>
        </div>
    </div>
</div>




